.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 200px;
  background-color: #4B4B4B;
}

.footer p{
  width: 350px;
  margin-left: 300px;
  font-weight: bold;
}

.footer ul {
  list-style: none;
  text-decoration: none;
   color: #EA9C47;
}

.footer a {
  color: #EA9C47;
  font-size: 30px;
  padding-left: 200px;
}

.footer img {
  width: 80px;
  height: 80px;
  padding-right: 200px;
}


